.{
    margin:0;
    padding:0;
}
h1{
    text-align: center;
}

body{
    background-color:rgb(70, 56, 41);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-div {
    border: 2px solid black;
    width: 400px;
    height: 500px;
    border-radius:8px;
    background-color: bisque;
}

.inner{
    border:2px solid black;
    width:400px;
    height:200px;
    border-radius:8px;
    background-color:blanchedalmond;
}

.screen{
    border:2px solid black;
    width:300px;
    height:100px;
    margin:50px;
    border-radius:8px;
}

.operations button{
    background-color: aqua;
    padding:10px;
    border:none;
    color:black;
    text-align:center;
    border-radius:8px;
    width: 100px;
    transition-duration: 4s;
    margin:10px;
}


.numpad button{
    background-color: aqua;
    padding:10px;
    color:black;
    text-align:center;
    border-radius:8px;
    width: 80px;
    transition-duration: 4s;
    margin:5px;
    font-size:small;
    border:none;
}

.numpad .operators{
    background-color: pink;
}
.operations .operators{
    background-color: pink;
}
